*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenor{
    cursor: pointer;
}
span{
  font-size: 11rem;
  color: blue;
  font-weight: 800;
  line-height: 1;
  display:inline-block;
}
span.active{
  animation: jump 2s ease-in-out;
}
@keyframes jump{
  0%{
    transform:translate(0,0) rotate(180deg);
  }50%{
    transform: scale(2.5) translate(0,-180px);
  }
}